<div class="container snake-container">
  <div class="row">
    <div class="col col-md-8">
      <div class="row">
        <div class="col col-md-7 offset-md-4">
          <h1 class="title" style='font-family:"Courier New"'>
            Welcome to Snake!
          </h1>
        </div>
      </div>
      <br>


      <div *ngIf="!submit">
        <div class="row">
          <div class="col col-md-12 offset-md-1">
            <h5 class="title" style='font-family:"Courier New"'>
              Choose Grid Dimensions!
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-2 offset-md-5">
            <input type="number" min="30" max="60" class="form-control grid-dims" placeholder="Width" [(ngModel)]="width">
          </div>
          <div class="col col-md-2">
            <input type="number" min="30" max="60" class="form-control grid-dims" placeholder="Height" [(ngModel)]="height">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col col-md-2 offset-md-6">
            <button class="btn btn-primary" type="submit" (click)="submitGridDims()">Submit</button>
          </div>
        </div>
      </div>


      <div *ngIf="submit">
        <table>
          <tr *ngFor="let row of grid; let i=index">
            <td class="cell" [ngClass]="{'snake':grid[i][j]==1,'food':grid[i][j]==2}" *ngFor="let col of row;let j=index">
              
            </td>

          </tr>
        </table>
      </div>







    </div>
    <div class="col col-md-4">
      <img src="../../../../assets/img/snake.jpg">
    </div>

  </div>
</div>